.jumbotron {
   max-height: 20%;
   padding-top: -20px;
   font-size-adjust: 1em;
   font-family: Oswald, sans-serif;
     src: url(https://fonts.googleapis.com/css?family=Oswald);
   font-weight: lighter;
   background:
     linear-gradient(darkcyan 10%, white 90%), url('img/clouds.jpg');
   background-blend-mode: screen, soft-light;
   background-size: cover;
}

.header-text {
   font-size: 4rem;
   text-transform: uppercase;
   color: gray;
   mix-blend-mode: darken;
}

.button_row {
   padding-right: 2em;
}

.image_button {
  background: transparent;
  display: inline;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 120%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
/*    background: inherit;*/
    cursor: inherit;
    display: block;
}

#thumbnail-pic {
  max-height: 1em;
}
